<!DOCTYPE html>
<html>
  <head>
    <title>Acerca de</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation" class="active"><a href="/about">Acerca de</a></li>
    </ul>
    <div class="container">
      <h1>Acerca de</h1>
      <div>
        <p>Simula la consulta de las ultimas ventas de un tienda virtual. Los datos son consultados de una base de datos SQLite</p>
        <p><b>Elaborado por:</b> Victor Manuel Forero</p>
        <p><b>Tecnología:</b> Python Flask y SQLAlchemy </p>
        <p><b>Repositorio:</b> <a href="https://github.com/merkkien/tiendaVirtual/">repositorio</a></p>
      </div>
    </div>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
